.main{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 45em;
}
.form{
    display: flex;
    flex-direction: column;
    width: 100%;
    box-shadow: .4em 1em 1.5em rgb(189, 183, 183);
    padding: 1em;
    border-radius: 1em;
}
.field{
    margin: 1em;
}
.planned-date{
    display: flex;
    flex-direction: column; 
    gap: 2em;
    margin: 1em;
    flex-wrap: wrap;
    padding: 1em;
    border: .1em solid black;
    border-radius: 1em;
    box-shadow: .4em 1em 1.5em rgb(189, 183, 183);
    &-title{
        font-weight: bolder;
        font-size: larger;
        margin: 0;
        padding: 0;
        // border-bottom: .01em solid black;
    }
    &-body{
        display: flex;  
        gap: 1em; 
    }
    &--start{
     display: flex;
     gap: 1em;
    }
    &--end{
        display: flex;
        gap:1em;
    }
}
.notifyDate{
    display: flex;
    align-items: end;
    gap: 1em;
    &-fields{
        display: flex;
        gap: 1em;
    }
}

.toggle{
    display: flex;
    align-items: center;
    gap: 1em;
}